

<div class="container">
	<div class="row">

		<div class="col-md-10 text-center h2">welcome to
			<i class="fas fa-book"></i>
			Bookers!!
		</div>

		<div class="row">
			<div class="col-md-10 text-center">in
				<i class="fas fa-book"></i>
				Bookers
			</div>
			<div class="col-md-10 text-center">you can share and exchange your opinions , inpressions , and emotions
about various books!
			</div>
		</div>
	</div>
	<div class="row">
		<p class="col-md-10">
	    <%= link_to new_user_registration_path do %>
	    	<button type="button" class="btn btn-primary btn-lg btn-block">新規登録</button>
	    <% end %>
    </p>
	  <p class="col-md-10 text-center text-black">
	    <%= link_to new_user_session_path do %>
	  		<button type="button" class="btn btn-success btn-lg btn-block">ログイン</button>
	  	<% end %>
		</p>
	</div>
</div>
